
.blanka4 {
    font-family: 'Blanka', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
}

.searchbox {
    min-width: 250px;
}

.infobox {
    padding: 2px 5px 2px;
    margin: 10px 2px 0px;
    min-height: 140px;
}

.divider {
    border-top: 3px solid rgb(255, 217, 94);
    padding-bottom: 5px;
}
  
.grid-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: auto;
    padding: 2%;
}

.grid-item {
    width: 90%;
}

.scrollbox {
    height: 50rem;;
}

@media only screen and (min-width: 768px){
    .grid-container {
        grid-template-columns: repeat(3, auto);
    }

    .blanka4 {
        font-size: 4rem;
    }
}